<div>
  <h1>Mister Cocktail</h1>
  <h2>The Open Source Cocktail Recipe Collection</h2>
</div>
<button><%= link_to "Add your own recipe", new_cocktail_path  %></button>

<div class="cocktails">
 <%= render 'shared/cocktails_card' %>
</div>