<div class="container">
  <h1>Mister Cocktail</h1>
  <h2>The Open Source Cocktail Recipe Collection</h2>
</div>
<%= link_to "Add your own recipe", new_cocktail_path  %> 

<div class="cocktails">
  <% @cocktails.each do |cocktail| %>
    <ul>
      <li><%=cocktail.name%> - <%= cocktail.description.capitalize %></li>
    </ul>
  <% end %>
</div>