<div class="container">
  <h1>Mister Cocktail</h1>
  <h2>The Open Source Cocktail Recipe Collection</h2>
</div>
<%= link_to "Add your own recipe", new_cocktail_path  %> 

<div class="cocktails">
  <% @cocktails.each do |cocktail| %>
    <ul>
      <li><%=link_to cocktail.name, cocktail_path(@cocktails)%> - <%= cocktail.description.capitalize %>
         <%= link_to cocktail_path(cocktail), data: { confirm: "Are you sure? Someone might like that cocktail..." }, method: :delete do %> 
         <p>BIN IT</p>
         <% end %>
      </li>
    </ul>
  <% end %>
</div>